body{
  position: relative;
  border: #025454;
  margin: auto;
  padding: 0px 0px 0px 0px;
  max-width: 800px;

}
h1{
  text-align: center;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #af604c;
  box-shadow: 2px 3px 8px black;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  border-radius: 0%;
}
ul{
  background-color: #5e34a1;
	color: #F2E7DC;
	padding: 20px;
	margin-bottom: 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 700px;
  box-shadow: 2px 3px 8px black;
}
Link{
	color: #F2E7DC;
  text-decoration: none;
}

Link:visited{
	color: #95BFB8;
}

Link:hover{
	color: #025454;
}

Link:active {
	color: #b65555;
}
img {
  padding: 10px;
	width: 15%;
	display: block;
	margin: auto;
	border-radius: 20px;
}